* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 1.2vw;
}

body {
  background-color: rgb(204, 204, 204);
}

@-webkit-keyframes neon {
  0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5AB9EA, 0 0 70px #5AB9EA, 0 0 80px #5AB9EA, 0 0 100px #5AB9EA, 0 0 150px #5AB9EA;
  }
  50% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #5AB9EA, 0 0 35px #5AB9EA, 0 0 40px #5AB9EA, 0 0 50px #5AB9EA, 0 0 75px #5AB9EA;
  }
  100% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5AB9EA, 0 0 70px #5AB9EA, 0 0 80px #5AB9EA, 0 0 100px #5AB9EA, 0 0 150px #5AB9EA;
  }
}

@-webkit-keyframes neonBox {
  0% {
      box-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 16px #fff, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 70px red;
  }
  50% {
      box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px red, 0 0 15px red, 0 0 20px red, 0 0 25px red, 0 0 35px red;
  }
  100% {
      box-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 16px #fff, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 70px red;
  }
}

.navigationBar {
  text-transform: uppercase;
  z-index: 999;
  height: 8vh;
  position: fixed;
  width:100%;
  background-color: rgb(25, 33, 42);
  display: flex;
  align-items: center;
}

.navigationBar img{
  height: 70%;
  margin-left: 1vw;
}

.navLinks {
  position: absolute;
  display: flex;
  align-items: center;
  right:0;
}

.navLinks span{
  display: flex;
  align-content: center;
  height: 8vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 0.1vw;
  cursor: pointer;
}

.navLinks span:hover {
  background-color: none;
  animation: neon linear 2s infinite ;
}

.navLinks h3 {
  font-weight: 100;
  color: white;
}

.navLinks a{
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  all: initial;
  display: none;
  position: absolute;
  right:0vw;
  cursor: pointer;
  top:8vh;
  background-color: #f1f1f1;
  min-width: 5vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 0.85vw;
  font-family: 'Open Sans', sans-serif;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  animation-play-state: paused;
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation-play-state: paused;
}

.subbutt {
  background-color:orangered; height:5vh; padding-left:1vw; padding-right:1vw; border:none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 1s;
  color:white;
  cursor: pointer;
}

.subbutt:hover {
  background-color: none;
  animation: neonBox linear 2s infinite ;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  align-items: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.formParent {
  height: 100%;
  width: 100%;
}

.formElement {
  display: block;
  width: 100%;
  margin-bottom: 2vh;
}

.formNames {
  display: inline-block;
  float: left;
  text-align: right;
  width: 45%;
  height: 100%;
}

.formInputs {
  display: inline-block;
  float: right;
  width: 45%;
  height: 100%;
}

/* ------------------------ index ends ------------------------- */

/* ---------------------------- signup starts ----------------- */

.signupContent {
  display: flex;
  align-items: center;
  padding-top: 8vh;
  height:100vh;
}

.registerModule {
  margin: 0 auto;
  background-color: white;
  min-height: 50vh;
  width:40vw;
}